.catalog {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-columns: repeat(4, $card-width);
  grid-template-rows: repeat(auto-fill, $card-height);

  gap: $catalog-gap;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }
}

@media (max-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(auto-fit, $card-width);
  }
}
